.wy-nav-content {
  padding: 1.618em 3.236em;
  height: 100%;
  max-width: 1200px !important;
  margin: auto;
}
.zoom {
  zoom: 110%;
}
.highlight pre span {
    font-size: larger;
}
.simple li p {
    font-size: large;
}
.simple ol p {
    font-size: large;
}
.section p {
    font-size: large;
}
img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 6%;
}

.rst-content .section ol p, .rst-content .section ul p {
    margin-bottom: 0;
}

.section ol {
    margin-bottom: 0 !important;
}
